[submodule "extern/tskit"]
	path = extern/tskit
	url = https://github.com/tskit-dev/tskit.git
[submodule "extern/kassert"]
	path = extern/kassert
    #url = https://github.com/kamping-site/kassert/
    url = ../../kamping-site/kassert/
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/backward-cpp"]
	path = extern/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "extern/cli11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/xxHash"]
	path = extern/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/cereal"]
	path = extern/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "extern/malloc_count"]
	path = extern/malloc_count
	url = https://github.com/bingmann/malloc_count.git
[submodule "extern/hopscotch-map"]
	path = extern/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "extern/sdsl"]
	path = extern/sdsl
	url = ../../lukashuebner/sdsl-lite.git
